<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.jaydenxiao.common">

<application
    android:supportsRtl="true"
    android:theme="@style/BaseAppTheme"
    >
    <!--<activity-->
        <!--android:name=".imagePager.BigImagePagerActivity"/>-->

    <!--<receiver android:name=".download.ApkInstallReceiver">-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />-->
        <!--</intent-filter>-->
    <!--</receiver>-->
</application>

</manifest>
